@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html {
	background-image: url("https://www.itl.cat/pngfile/big/61-617878_simple-world-of-warcraft-wallpapers-photo-with-wow.jpg"); 
 	background-size: cover;
 	background-repeat: no-repeat;
 	display: inline-block;
 	width: 100%;
}

body {
	display: inline-block;
	
}

th {
	font-size: 50px;
	font-family: georgia;
	color: #142d8c;
}

td {
	font-size: 30px;
	color: #ffda35;
	font-family: garamond;
}

a:link {
  color: #c9784c;
}

a:visited {
  color: #c9784c;
}

.home_button {
	text-align: left;
	font-size: 20px;
}